@model StudyBud.Models.User

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Let's Get That A!</h1>
    <p>StudyBud: Helping Students Study Skillfully</a>.</p>

    <br />
    <!--place holder for future links. this is just a test-->
    <a class="nav-link text-dark" asp-area="" asp-controller="Syllabus" asp-action="Index">Syllabus</a>
</div>

